rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{customerId} {
      // Public users can read a single customer's data
      allow get: if true;
      
      // Authenticated admins can perform all other actions
      allow list, create, update, delete: if request.auth != null;
    }
  }
}
